<div class="container-fluid" id="footrow">
    <blockquote class="blockquote text-center">
        <p class="mb-0 text-white" style="padding:10px 0 10px 0;">
            地址：浙江省杭州市余杭区仓前街道余杭塘路2318号 邮编：311121
            联系电话：0571-28865012
        </p>
        <p class="mb-0 text-white" style="padding:0px 0 10px 0;">
            本科招生热线：0571-28865193 研究生招生热线：0571-28865012
        </p>
        <footer class="blockquote-footer text-white">
            版权所有
            <cite title="Source Title">杭州师范大学 Copyright @ 2008 公安备案号 33011002011919
                浙ICP备11056902号</cite>
        </footer>
    </blockquote>
</div>