<ul class="list-group" id="contentlearn">
    {{#each LearnNew}}
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-10"><a class="textstyle" href="#" id="{{news_id}}">{{news_name}}</a></div>
            <div class="col-md-2 textstyle">{{update_time}}</div>
        </div>
    </li>
    {{/each}}
</ul>