{{#each Learnnew}}
<div class="row newssubtitle">
    <div class="col-md-6 learntext">
        <a class="morecolor" href="#">{{news_name}}</a>
    </div>
    <div class="col-md-6">
        <p class="timeacho">{{update_time}}</p>
    </div>
</div>
{{/each}}