{{#each Medianew}}
<div class="row contentitem m-auto">
    <div class="col-md-1">
    <img  src="/static/img/clock.png" alt="" id="clock">
    </div>
    <div class="col-md-11">
        <a>{{update_time}}</a>
        <a class="d-block contenta">{{news_name}}</a>
        {{!-- <a class="d-block">青年影像节获奖记录当代青年人</a> --}}
    </div>
</div>
{{/each}}