{{#each Noticenew}}
<div class="row newssubtitle">
    <div class="col-md-12 learntext">
        <a class="morecolor" target="_blank" href="/newsContent?news_id={{{news_id}}}" class="d-inline">{{news_name}}</a>
    </div>
</div>
{{/each}}