<div class="container-fluid" id="topbar">
    <div class="row justify-content-center align-items-center">
        <nav class="col-md-2.5 my-4">
            <img src="/static/img/bottomlogo.png" style="width: auto;height: auto;max-width: 100%;max-height:100%;" />
        </nav>
        <form class="form-inline col-md-6">
            <div class="mx-auto">
                <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search"
                    style="width:20rem;" />
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                    搜索
                </button>
            </div>
        </form>
        <div class="col-md-2">
            <img class="mr-3" src="/static/img/wechatnew.png" alt=""
                style="width: auto;height: auto;max-width: 12%;max-height:12%;" />
            <img class="mr-3" src="/static/img/microblognew.png" alt=""
                style="width: auto;height: auto;max-width: 12%;max-height: 12%;" />
            <a href="#" id="back">退出</a>
        </div>
    </div>
</div>
<div id="xuline"></div>