<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/home.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4" id="navbar1">
    <!-- <div class="logo-1250">
      <img src="/static/img/coin.jpg" alt="HZNU" title="HZNU">
    </div> -->
    <nav class="my-0 lf-nav">
      <img src="/static/img/bottomLogo.png" style="width: auto;height: auto;max-width: 60%;max-height: 60%;">
    </nav>
    <form class="form-inline my-0 pr-2">
      <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <nav class="my-2 my-md-0 mr-md-3">
      <a id="textname" class="p-2 text-white" href="/personal"></a>
      <a class="p-2 text-white" href="#" id="back">退出登陆</a>
    </nav>
  </div>
  <div class="p-2" id="navbar3">
    <!-- <div class="logo-1250">
      <img src="img/coin.jpg" alt="HZNU" title="HZNU">
    </div> -->
    <div class="navbar3-rt">
      <form class="form-inline my-0 pr-2">
        <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search"
          style="height: initial; line-height: initial;">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"
          style="padding: 6px 12px; line-height: initial;">Search</button>
      </form>
      <button type="submit" id="menuBtn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <ul class="nav-sel" style="display: none;">
      <li><a href="">图书馆</a></li>
      <li><a href="">信息公开</a></li>
      <li><a href="">Email</a></li>
      <li><a href="">信息门户</a></li>
      <li><a href="">VPN</a></li>
      <li><a href="">新媒体联盟</a></li>
    </ul>
  </div>
  <div id="navbar2"
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav id="navleft" class="my-0 mr-md-auto pl-5">
      <a class="p-2 text-dark" href="#">首页</a>
      <a class="p-2 text-dark" href="#">学校概况</a>
      <a class="p-2 text-dark" href="#">机构设置</a>
      <a class="p-2 text-dark" href="#">师资任务</a>
      <a class="p-2 text-dark" href="#">人才培养</a>
    </nav>
    <nav id="navright" class="my-2 my-md-0 mr-md-3 pr-5">
      <a class="p-2 text-dark" href="#">学科建设</a>
      <a class="p-2 text-dark" href="#">社会合作</a>
      <a class="p-2 text-dark" href="#">招生就业</a>
      <a class="p-2 text-dark" href="#">图书档案</a>
      <a class="p-2 text-dark" href="#">海外交流</a>
    </nav>
  </div>

  <div class="container">
    <div class="row" id="imagerow">
      <img id="coin" src="/static/img/coin.jpg" alt="#" class="m-auto rounded-circle" title="HZNU">
    </div>
    <div class="row" id="circlerow">
      <img id="circle" src="/static/img/circle.jpg" alt="#" class="m-auto rounded-circle">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center" id="changerow">
      <div class="col-md-11">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            {{#each img}}
            <div class="carousel-item {{#if this.show}} active {{/if}}">
              <img width="300" height="450" src="{{this.path}}" class="d-block w-100 img-fluid" alt="...">
            </div>
            {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">以前</font>
              </font>
            </span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">下一个</font>
              </font>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="cardrow">
    <div class="row justify-content-center" id="newTextrow">
      <div class="col-md-3" id="line"></div>
      <div class="col-md-2">
        <div class="row">
          <h4 class="m-auto" id="newText">师大要闻</h4>
        </div>

      </div>
      <div class="col-md-3" id="line"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-end">
          <a href="/news" style="color: white;">>>更多>></a>
        </div>
      </div>
    </div>
    {{>homeCollegenews}}
  </div>
  <div class="container-fluid" id="annrow">
    <div class="row justify-content-center" id="newTextrow">
      <div class="col-md-3" id="line"></div>
      <div class="col-md-2">
        <div class="row">
          <h4 class="m-auto" id="newText">通知公告</h4>
        </div>
      </div>
      <div class="col-md-3" id="line"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-end">
          <a href="/news" style="margin-bottom:10px;color: white;">>>更多>></a>
        </div>
      </div>
    </div>
    {{>homeNotice}}
  </div>
  <div class="container-fluid" id="footrow">
    <div class="row justify-content-center" id="footimgrow">
      <div class="col-md-2" style="margin:auto; margin-right: 0;margin-left: 0">
        <div class="row justify-content-end" style="padding:0 15px 0 15px;">
          <p class="mb-0 text-white">学大范师州杭@</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row justify-content-start">
          <img src="/static/img/wechat.png" style="width:2.5rem;" alt="#" class="rounded-circle footcoin">
        </div>
      </div>
      <div class="col-md-1">
        <div class="row justify-content-end">
          <img src="/static/img/microblog.png" style="width:2.5rem;" alt="#" class="rounded-circle footcoin">
        </div>
      </div>
      <div class="col-md-2" style="margin:auto; margin-right: 0;margin-left: 0">
        <p class="mb-0 text-white">@杭州师范大学</p>
      </div>
    </div>
    <blockquote class="blockquote text-center">
      <p class="mb-0 text-white" style="padding:10px 0 10px 0;">地址：浙江省杭州市余杭区仓前街道余杭塘路2318号 邮编：311121 联系电话：0571-28865012
      </p>
      <p class="mb-0 text-white" style="padding:0px 0 10px 0;">本科招生热线：0571-28865193 研究生招生热线：0571-28865012</p>
      <footer class="blockquote-footer text-white">版权所有 <cite title="Source Title">杭州师范大学 Copyright @ 2008 公安备案号
          33011002011919 浙ICP备11056902号</cite></footer>
    </blockquote>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
    integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/static/javascripts/s_tokenuse.js"></script>
  <script src="/static/javascripts/s_home.js"></script>
  <script>
    var menu = document.getElementById('menuBtn');
    var stack = 0;
    var H = 342;
    menu.addEventListener('click', () => {
      if (stack) return stack++;
      stack++;
      let navsel = document.getElementsByClassName('nav-sel')[0];
      if (navsel.style.display === 'none') {
        navsel.style.display = 'block';
        showMenu(0, H, navsel);
      } else {
        hideMenu(H, navsel)
      }
    });

    let showMenu = (h, H, navsel) => {
      navsel.style.height = `${h += 5}px`;
      if (h < H) {
        setTimeout(() => showMenu(h, H, navsel), 5);
      } else {
        stack--;
        //console.log(1)
        //console.log(stack + 'show')
        navsel.style.height = `${H}px`;
        if (stack) hideMenu(h, navsel);
      }
    };

    let hideMenu = (h, navsel) => {
      navsel.style.height = `${h -= 5}px`;
      // console.log(2)
      if (h > 0) {
        setTimeout(() => hideMenu(h, navsel), 5);
      } else {
        stack--;
        //console.log(stack + 'hide')
        navsel.style.display = 'none';
        if (stack) {
          navsel.style.display = 'block';
          showMenu(h, H, navsel)
        }
      }
    };
  </script>
</body>

</html>