<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/newsList.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/foot.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/page.css" />

  <title>新闻内容</title>
</head>

<body>
  {{>newsTitle}}
  <div class="container allcontent">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="navLearn">
        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-12">
        {{>listLearnContent}}
      </div>
    </div>
    {{>pageContent}}
  </div>
  {{>bottomFooter}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="/static/javascripts/s_newsMediaList.js"></script>
  <script src="/static/javascripts/s_tokenuse.js"></script>
</body>

</html>