<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/news.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/foot.css" />
  <title>杭州师范大学</title>
</head>

<body>
  {{>newsTitle}}
  <div class="container-fluid" id="cardrow">
    <div class="row justify-content-center ">
      <div class="col-md-5">
        <div class="card" id="cardi" style="border-radius:0;border-width: 0;">
          <img src="https://www.hznu.edu.cn/upload/resources/image/2019/12/04/7539636.jpg" class="card-img-top"
            alt="..." style="border-radius:0">
          <div class="card-body newcardcontent">
            <h5 class="card-title text-white">校长尚永丰院士看望老领导并调研学院</h5>
            <p class="card-text text-white">12月3日上午，校长尚永丰院士拜访了原校长杜卫教授。尚永丰与杜卫亲切交谈，并就学校建设发展情况进行交流
              尚永丰对老校长为杭师大建设和发展作出的贡献表示感谢，希望他一如既往关心、支持、参与学校建设。社工对尚校长的到来表示热烈欢迎</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" id="newlist">
        <div class="newtop row">
          <div class="col-md-6" id="Partylist">
            <div class="row" style="height:4rem;">

              <a id="Partychange" class="m-auto" href="#"><img class="listimg" src="/static/img/newimg.png" alt="">
                党建文化</a>
            </div>
          </div>
          <div class="col-md-6 active" id="Medialist">
            <div class="row" style="height:4rem;">
              <a id="Mediachange" class="m-auto" href="#"><img class="peopleimg" src="/static/img/people.png" alt=""> 媒体师大</a>
            </div>
          </div>
        </div>
        <div class="newcontent row">
          <div class="col-md-10 m-auto">
            {{>newMedia}}
            {{>newParty}}
            <div class="Media" style="margin-top: 20px;">
              <a class="more-text" href="/newsMediaList" style="margin: 0px!important;">>>更多>></a>
            </div>
            <div class="Party" style="margin-top: 20px;">
              <a class="more-text" href="/newsPartyList" style="margin: 0px!important;">>>更多>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="teacherrow">
    <div class="row justify-content-center">
      <div class="col-md-8 teachercol">
        <p class="text-white" id="teachertext">教学科研</p>
        <div id="teacherline"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid allcontent">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-end">
          <a class="more-text" href="/newsTeacheList">>>更多>></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 teachercol">
        <div class="row" id="teachernewrow">
          {{>newTeache}}
        </div>
      </div>
    </div>
    <div class="row justify-content-center" id="learnrow">
      <div class="col-md-8 teachercol">
        <div class="row">
          <div class="col-md-8">
            <div class="row justify-content-between">
              <div class="col-md-6">
                <p class="newstitle">学术研究</p>
              </div>
              <div class="col-md-6 m-auto"><a href="/newsLearnList" class="moreone">>>更多>></a></div>
            </div>
            {{>newLearn}}
          </div>
          <div class="col-md-4">
            <div class="row justify-content-between">
              <div class="col-md-6">
                <p class="newstitle">通知公告</p>
              </div>
              <div class="col-md-6 m-auto"><a href="/newsNoticeList" class="moreone">>>更多>></a></div>
            </div>
            {{>newNotice}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>bottomFooter}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
    integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/static/javascripts/s_news.js"></script>
</body>

</html>