<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/newsList.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/personal.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/foot.css" />

    <title>个人信息</title>
</head>

<body>
    {{>newsTitle}}
    <div id="catalog" class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active disabled" href="/personal">个人信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personalpas">密码设置</a>
            </li>
        </ul>
    </div>
    <div id="mainber" class="container">
        <h4 style="font-weight: bold; display: inline-block;margin-top:20px;">个人信息</h4>

        <table id="Info" class="table table-striped">
            <tbody>
                <tr>
                    <td>账号</td>
                    <td id="user_id">admin</td>
                </tr>
                <tr>
                    <td>真实姓名</td>
                    <td id="user_name">超级管理员</td>
                </tr>
                <tr>
                    <td>学院</td>
                    <td id="college_name">材料与化学化工学院</td>
                </tr>
            </tbody>
        </table>

    </div>
    {{>bottomFooter}}
    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/s_tokenperson.js"></script>
</body>

</html>