<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/newsList.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/personalpas.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/foot.css" />

    <title>个人信息</title>
</head>

<body>
    {{>newsTitle}}
    <div id="catalog" class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/personal">个人信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active disabled" href="/personalpas">密码设置</a>
            </li>
        </ul>
    </div>
    <div id="mainber" class="container  my-3 p-3 bg-white rounded shadow-sm">
        <h4 style="font-weight: bold; display: inline-block;margin-top:20px;">密码修改</h4>
        <form id="sign_up" name="sign-up" method="POST">
            <div class="form-group">
                <label for="initialPasswordLabel">Initial password</label>
                <input type="password" id="fpwd" class="form-control" id="initialPasswordInput" placeholder="请输入原密码"
                    autocomplete="off">
            </div>
            <div class="form-group">
                <label for="newPasswordLabel">New password</label>
                <input type="password" id="pwd" class="form-control" id="newPasswordInput"
                    placeholder="请输入新密码,6-15个数字、字母或下划线" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="newPasswordAgainLabel">Re-enter password</label>
                <input type="password" id="rpwd" class="form-control" id="newPasswordAgainInput" placeholder="请输入再次输入密码"
                    autocomplete="off">
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 10px;" id="changepas">更改</button>
        </form>
    </div>
    {{>bottomFooter}}
    <script src="/static/javascripts/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
    integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/static/javascripts/s_tokenuse.js"></script>
    <script src="/static/javascripts/s_personalpas.js"></script>
</body>

</html>