<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/stylesheets/normalize.css" />
  <link rel='stylesheet' href='/static/stylesheets/layout.css' />
  <link rel='stylesheet' href='/static/stylesheets/sign.css' />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
  <div class="g-container">
    <div class="g-signup">
      <div class="form-auto">
        <div class="form-header">
          <a href="javascript: void()" class="form-on">注册</a>
          <a href="/signin">登陆</a>
        </div>
        <form id="sign_up" name="sign-up" method="POST">
          <div class="from-row">
            <label for="id" class="from-label">用户名</label>
            <input id="inputId" type="text" name="id" class="from-input" placeholder="1-10个数字、字母或下划线" required />
            {{!-- <button id="subcode" class="from-btn" style="margin:0;width:30%;display:inline;">验证邮箱</button> --}}
          </div>
          <div class="from-row">
            <label for="name" class="from-label">姓名</label>
            <input id="inputName" type="text" name="name" class="from-input" placeholder="1-8个数字、字母或下划线" required />
            {{!-- <button id="subcode" class="from-btn" style="margin:0;width:30%;display:inline;">验证邮箱</button> --}}
          </div>
          {{!-- <div class="from-row">
            <label for="Checkcode" class="from-label">Verification Code</label>
            <input type="password" name="pwd" class="from-input" placeholder="6-15个数字、字母或下划线" required />
          </div> --}}
          <div class="from-row">
            <label for="sel1" class="from-label">学院</label>
            <select class="form-control" id="sel1" name="sellist1">
              {{#each college}}
                <option value='{{this.college_id}}'>{{this.college_name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="from-row">
            <label for="pwd" class="from-label">输入密码</label>
            <input type="password" name="pwd" class="from-input" placeholder="6-15个数字、字母或下划线" required />
          </div>
          <div class="from-row">
            <label for="rpwd" class="from-label">确认密码</label>
            <input type="password" name="rpwd" class="from-input" placeholder="6-15个数字、字母或下划线" required />
          </div>
          <div class="from-row">
            <button id="subcode" type="submit" class="from-btn">登陆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{!-- message --}}
  {{#if msg}}
  <div class="m-msg">
    {{msg.text}}
  </div>
  {{/if}}

  <script>
    // 检测是否有message
    const msgDiv = document.getElementsByClassName('m-msg')[0];
    console.log(msgDiv)
    if (msgDiv) setTimeout(() => document.body.removeChild(msgDiv), 2000);
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/javascripts/axios.min.map.js"></script>
  <script src="/static/javascripts/s_signup.js"></script>
</body>

</html>