<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/stylesheets/normalize.css" />
  <link rel='stylesheet' href='/static/stylesheets/layout.css' />
  <link rel='stylesheet' href='/static/stylesheets/sign.css' />
</head>

<body>
  <div class="g-container">
    <div class="g-signup">
      <div class="form-auto">
        <div class="form-header">
          <a href="/signup">注册</a>
          <a href="javascript: void()" class="form-on">登陆</a>
        </div>
        <form name="signin">
          <div class="from-row">
            <label for="id" class="from-label">用户名
            </label>
            <input type="text" id="Inputid" name="id" class="from-input" required />
          </div>
          <div class="from-row">
            <label for="pwd" class="from-label">密码</label>
            <input type="password" id="pwd" name="pwd" class="from-input" required />
          </div>
          <div class="from-row">
            <button type="submit" class="from-btn">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{!-- message --}}
  {{#if msg}}
  <div class="m-msg">
    {{msg.text}}
  </div>
  {{/if}}
  <script src="/static/javascripts/axios.min.map.js"></script>
  <script>
    // 表单提交
    const submitBtn = document.getElementsByClassName('from-btn')[0];
    submitBtn.addEventListener('click', (e) => {
      e.preventDefault()
      let usr = document.signin.id.value
      let pwd = document.signin.pwd.value
      let data = { params: { usr, pwd } }
      axios.get('/signin/verify', data).then((r) => {
        //console.log(r.data);
        let { result, msg } = r.data
        if (result === 1) {
          // axios.defaults.headers.common['Authorization'] = r.data.token
          Msg(msg, result)
          localStorage.setItem("user-t", r.data.token);

          window.location = '/home';
        } else Msg(msg)
      });
    });

    // 信息弹窗
    let Msg = function (txt, status = 0, timeout = 3000) {
      const color = status ? '#68af02' : 'red';
      let msgDiv = document.createElement('DIV');
      let content = document.createTextNode(txt);
      msgDiv.classList.add('m-msg');
      msgDiv.appendChild(content);
      msgDiv.style.animationDuration = timeout / 1000 + 's';
      msgDiv.style.backgroundColor = color;
      document.body.appendChild(msgDiv);
      setTimeout(() => document.body.removeChild(msgDiv), timeout);
    }
    const msgDiv = document.getElementsByClassName('m-msg')[0];
    //console.log(msgDiv)
    if (msgDiv) setTimeout(() => document.body.removeChild(msgDiv), 2000);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="/static/javascripts/s_tokenlogin.js"></script>
</body>

</html>