a {
  text-decoration: none !important;
}
#navbar1 {
  background-color: rgb(127, 3, 3)!important;
  color: white;
}

#imagerow {
  height: 0;
}

#circlerow {
  height: 0;
}

#navbar1 {
  position: relative;
  z-index: 51;
}

.navbar2 {
  position: relative;
  z-index: 51;
}

#coin {
  position: relative;
  top: -7rem;
  width: 11rem;
  z-index: 100;
}

#circle {
  position: relative;
  top: -8rem;
  width: 13rem;
  z-index: 50;
}
#changerow {
  background-color: yellow;
  background: url(../img/changeimg.jpg);
}
#newTextrow {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

#line {
  height: 0.1rem;
  background: white;
  margin: 15px 0 15px 0;
}

#newText {
  color: white;
  margin: auto;
}

#cardrow {
  margin-top: 20px;
  background-color: rgb(126, 3, 3);
  padding-bottom: 4rem;
}

#card {
  padding: 10px 0px 10px 0px;
}
.cardleft {
  margin-right: 7px !important;
  margin-left: 7px !important;
}

.anncard1:nth-child(even) {
  background-color: rgb(201, 146, 146) !important;
}

.anncard1:nth-child(odd) {
  background-color: rgb(245, 245, 246) !important;
}

.anncard2:nth-child(even) {
  background-color: rgb(245, 245, 246) !important;
}

.anncard2:nth-child(odd) {
  background-color: rgb(201, 146, 146) !important;
}

#annrow {
  background-color: rgb(177, 93, 93);
  padding-bottom: 4rem;
}

.card-title {
  color: rgb(124, 0, 0);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  color: black;
}
.anncard1 {
  border-radius: 0px !important;
  margin-bottom: 0 !important;
}

.anncard2 {
  border-radius: 0px !important;
  margin-bottom: 0 !important;
}

#footrow {
  background-color: rgb(133, 33, 37);
  padding-bottom: 1rem;
}

#footimgrow {
  padding-top: 2rem;
}

.blockquote {
  font-size: 1rem;
}

/* Menu */

#navbar3 {
  display: none;
}

.navbar3-rt {
  display: flex;
}


.logo-1250 {
  display: none;
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
}

.logo-1250 img {
  display: inline-block;
  height: 100%;
}

#navbar1 .lf-nav {
  margin-right: auto;
}

@media screen and (max-width: 1250px) {
  body .container {
    display: none;
  }
  #name1{
    display: none!important;
  }
}
@media screen and (min-width: 1250px) {
  #name2{
    display: none!important;
  }
}

/* other */

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
