body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  position: absolute;
}
a {
  text-decoration: none !important;
}
.topbar {
  background-color: rgb(141, 30, 30)!important;
}
#back {
  color: white;
  text-decoration: none;
}
#xuline {
  background: linear-gradient(
    0deg,
    rgb(141, 30, 30),
    #f5f5f5 50%,
    #f5f5f5 50%,
    rgb(141, 30, 30)
  );
  height: 0.3rem;
}

/*navbar begin*/
#newnavbar {
  background-color: rgb(141, 30, 30);
  padding: 0;
}
#newnavbar a {
  padding: 16px 8px 16px 8px;
}
.navbaritem ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.navbaritem ul .nav1 {
  margin-right: 6rem;
}
.navbar-nav .active a {
  color: #fff !important;
}
/*navbar end*/

/*content begin*/
#navLearn {
  background-color: #6f42c1!important;
  margin-top: 1rem;
}
.breadcrumb-item.active {
  color: white;
}
#contentlearn li {
  background-color: rgb(253, 242, 242);
}
.textstyle {
  text-decoration: none !important;
  color: rgb(168, 75, 75);
}
.contest-search-wrap[data-v-6136e886] {
  background: #fdfdfd;
  box-shadow: 0 7px 8px 0 rgba(146,166,231,.12);
  margin-top: -10px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}
.ivu-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ivu-row-flex, .ivu-row-flex:after, .ivu-row-flex:before {
  display: -ms-flexbox;
  display: flex;
}
/* content end */
@media screen and (max-width: 1250px) {
  #topbar1{
    display: none!important;
  }
}
@media screen and (min-width: 1250px) {
  #topbar2{
    display: none!important;
  }
}
