body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-image: url(../img/backgroud.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  position:absolute; 
}
a{
  text-decoration: none!important;
}
#topbar {
  background-color: rgb(141, 30, 30);
}
#back {
  color: white;
  text-decoration: none;
}
#xuline {
  background: linear-gradient(
    0deg,
    rgb(141, 30, 30),
    #f5f5f5 50%,
    #f5f5f5 50%,
    rgb(141, 30, 30)
  );
  height: 0.3rem;
}

/*navbar begin*/
#newnavbar {
  background-color: rgb(141, 30, 30);
  padding: 0;
}
#newnavbar a {
  padding: 16px 8px 16px 8px;
}
#navbaritem ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
#navbaritem ul .nav1 {
  margin-right: 6rem;
}
.navbar-nav .active a{
  color: #fff !important;
}
/*navbar end*/

/*content begin*/
#navLearn{
    background-color: rgb(168,75,75);
    margin-top: 1rem;
}
.breadcrumb-item.active{
    color: white;
}
#contentlearn li{
    background-color: rgb(253,242,242);
}
.textstyle{
  text-decoration: none!important;
  color: rgb(168,75,75);
}
/* content end */
